.git
.github
.omc
.env
landing/node_modules
landing/.next
testdata/carddemo
testdata/cobol-check
testdata/cobol-is-fun
testdata/cobol-library
testdata/cobol-programming-course
testdata/cobol-unit-test
testdata/cobolcraft
out
bin
*.md
!README.md
docs
